
#main{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    font-weight: 500;
}
.box h2{
    float: left;
}
 .btn{
    float: right;
}
.container{
    margin-top: 20px;
}
